.swiper {
  width: 100%;
  margin: 0 auto;
  height: 100%;
}

.swiper-slide {
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow-clip-margin: content-box;
  overflow: clip;
}

.swiper .swiper-button-prev {
  background-color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  left: 0;
}
.swiper .swiper-button-next {
  background-color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  right: 0;
}

.swiper .swiper-button-prev::after {
  font-size: 15px;
  color: black;
}

.swiper .swiper-button-next::after {
  font-size: 15px;
  color: black;
}
