.home {
  max-width: 90% !important;
}

@media screen and (min-width: 992px) {
  .home {
    height: 100vh;
    overflow-y: scroll;
  }
  .home::-webkit-scrollbar {
    display: none;
  }

  .home::-webkit-scrollbar-track {
    display: none;
    background-color: white;
  }

  .home::-webkit-scrollbar-thumb {
    display: none;
    background-color: white;
  }
}

@media screen and (max-width: 991px) {
  .home {
    max-width: 100% !important;
  }
}
