.home,
.course {
  max-width: 90% !important;
}

@media screen and (min-width: 992px) {
  .home,
  .course {
    height: 100vh;
    overflow-y: scroll;
  }
  .home::-webkit-scrollbar,
  .course::-webkit-scrollbar {
    display: none;
  }
}

@media screen and (max-width: 991px) {
  .home,
  .course {
    max-width: 100% !important;
  }
}
